<a href="https://colab.research.google.com/github/gopiprasad008/gopipprasad/blob/main/EnsembleTechniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Ensemble Technqiues**

# Data

In [ ]:
#importing important packages
import pandas as pd
import numpy as np

#reading the dataset
df=pd.read_csv("train.csv")
df
df.shape
df.isnull().sum()
# # # # # #filling missing values
# df['Gender'].fillna('Male', inplace=True)
df = df.dropna()
# df

In [ ]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [ ]:
df['Loan_Status'].unique()

array(['N', 'Y'], dtype=object)

In [ ]:
#split dataset into train and test

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

del df['Loan_ID']
#Both Label and One-hot encoding is performed
dfT = df #encode the data - one hot encoding is done

dfT["Gender"] = dfT["Gender"].map({"Male" : 0, "Female" : 1})
dfT["Married"] = dfT["Married"].map({"Yes" : 1, "No" : 0})
dfT["Dependents"] = dfT["Dependents"].map({"0" : 0, "1" : 1,"2" : 2,"3+" : 3})
dfT["Education"] = dfT["Education"].map({"Graduate" : 1, "Not Graduate" : 0})
dfT["Self_Employed"] = dfT["Self_Employed"].map({"Yes" : 1, "No" : 0})
dfT = pd.get_dummies(dfT,columns = ["Property_Area"]) #one hot encoding
dfT["Loan_Status"] = dfT["Loan_Status"].map({"Y" : 1, "N" : 0})

#Split my data
x_train, x_test, y_train, y_test = train_test_split(dfT[dfT.columns[:-1]].values, dfT['Loan_Status'].values, test_size=0.25)

In [ ]:
dfT

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
1,0,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,1,0,0
2,0,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,0,0,1
3,0,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,0,0,1
4,0,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,0,0,1
5,0,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,1,0,0,1,0,2900,0.0,71.0,360.0,1.0,1,1,0,0
610,0,1,3,1,0,4106,0.0,40.0,180.0,1.0,1,1,0,0
611,0,1,1,1,0,8072,240.0,253.0,360.0,1.0,1,0,0,1
612,0,1,2,1,0,7583,0.0,187.0,360.0,1.0,1,0,0,1
613,1,0,0,1,1,4583,0.0,133.0,360.0,0.0,0,0,1,0

In [ ]:
x_train

array([[1., 1., 0., ..., 1., 0., 1.],
       [0., 1., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 1.],
       [0., 1., 1., ..., 1., 0., 0.],
       [1., 0., 1., ..., 1., 0., 0.]])

In [ ]:
x_train.shape, x_test.shape

((360, 13), (120, 13))

In [ ]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
x_train = std.fit_transform(x_train)
x_test = std.transform(x_test)

# Max Voting

Alternatively, you can use “VotingClassifier” module in sklearn as follows:

In [ ]:
from sklearn.ensemble import VotingClassifier # this is the function that ensembles my model
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_auc_score

model1 = LogisticRegression(random_state=1)
model2 = tree.DecisionTreeClassifier(random_state=1)
model3 = KNeighborsClassifier(3)
model = VotingClassifier(estimators=[('lr', model1), ('dt', model2),('knn',model3)], voting='soft') # it will stitich all the models together, voting = hard means max voting 
# we need to give the list of models that we are trying to combine
model.fit(x_train,y_train) # to train all of the models
preds = model.predict(x_test)
model.score(x_test,y_test) # prediction
roc_auc_score(y_test,model.predict_proba(x_test)[:,1])

1.0

# **Advanced Ensemble techniques**

# **Bagging** (Bootstrap aggregation)

In [ ]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
# weakLearner = tree.DecisionTreeClassifier(max_depth = 1)
# weakLearner.fit(x_train, y_train)
# weakLearner.score(x_test,y_test)
model = BaggingClassifier(tree.DecisionTreeClassifier(max_depth = 1, random_state=1), n_estimators=100)
model.fit(x_train, y_train)
model.score(x_test,y_test)

0.8292682926829268

# **Random Forests**

In [ ]:
# Pandas is used for data manipulation
import pandas as pd 
import numpy as np

# Read in data as pandas dataframe and display first 5 rows
original_features = pd.read_csv('temps.csv') #
print(original_features.columns)
original_features

original_features.isnull().sum()
original_features


# Data cleaning
# EDA
# # Data Encoding
# # Data Splitting
# # Data scaling
# # (if reqd) data transformation

from sklearn.preprocessing import LabelEncoder

# lb = LabelEncoder()
# lb.fit_transform(original_features.week)


original_features.week = original_features.week.map({'Sun':1,'Mon':2,'Tues':3,'Wed':4,'Thurs':5,'Fri':6,'Sat':7})
# # # # original_features
# # # # Use numpy to convert to arrays
# # import numpy as np

# # Labels are the values we want to predict
original_labels = np.array(original_features['actual']) # target varaibles

# Remove the labels from the features
# axis 1 refers to the columns
original_features= original_features.drop('friend', axis = 1)
original_features= original_features.drop('actual', axis = 1) #original features

# Saving feature names for later use
original_feature_list = list(original_features.columns) #orginal feature labels

# Convert to numpy array
original_features = np.array(original_features) 
original_features

# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
original_train_features, original_test_features, original_train_labels, original_test_labels = train_test_split(original_features, original_labels, test_size = 0.25, random_state = 42)

# # The baseline predictions are the historical averages
# baseline_preds = original_test_features[:, original_feature_list.index('average')]

# # Baseline errors, and display average baseline error
# baseline_errors = abs(baseline_preds - original_test_labels)
# print('Average baseline error: ', round(np.mean(baseline_errors), 2), 'degrees.')

Index(['year', 'month', 'day', 'week', 'temp_2', 'temp_1', 'average', 'actual',
       'friend'],
      dtype='object')

In [ ]:
original_features.shape

(348, 7)

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

# Instantiate model 
rf = RandomForestRegressor(n_estimators= 100, max_depth = 3, max_features='sqrt')

# Train the model on training data
rf.fit(original_train_features, original_train_labels);

# Use the forest's predict method on the test data
predictions = rf.predict(original_test_features)

# # Calculate the absolute errors
# errors = abs(predictions - original_test_labels)

# # Print out the mean absolute error (mae)
# print('MAE :', round(np.mean(errors), 2), 'degrees.')

# Compare to baseline
# improvement_baseline = 100 * abs(np.mean(errors) - np.mean(baseline_errors)) / np.mean(baseline_errors)
# print('Improvement over baseline:', round(improvement_baseline, 2), '%.')

#r2_score(baseline_preds, original_test_labels)
r2_score(predictions, original_test_labels)

0.6625246867664523

In [ ]:
original_train_features.shape

(261, 7)

# Interpret Model Results

In [ ]:
from sklearn import tree

In [ ]:
from sklearn.tree import export_graphviz
import pydot

# Pull out one tree from the forest
tree = rf.estimators_[5]

# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = original_feature_list, rounded = True, precision = 1)

# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')

# Write graph to a png file
graph.write_png('tree.png');

In [ ]:
print('The depth of this tree is:', tree.tree_.max_depth)

The depth of this tree is: 3

In [ ]:
# Limit depth of tree to 2 levels
rf_small = RandomForestRegressor(n_estimators=10, max_depth = 3, random_state=42)
rf_small.fit(original_train_features, original_train_labels)

# Extract the small tree
tree_small = rf_small.estimators_[5]

# Save the tree as a png image
export_graphviz(tree_small, out_file = 'small_tree.dot', feature_names = original_feature_list, rounded = True, precision = 1)

(graph, ) = pydot.graph_from_dot_file('small_tree.dot')

graph.write_png('small_tree.png');

# Variable Importances

In [ ]:

# Get numerical feature importances
importances = list(rf.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(original_feature_list, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: temp_1               Importance: 0.34
Variable: average              Importance: 0.31
Variable: temp_2               Importance: 0.23
Variable: month                Importance: 0.11
Variable: day                  Importance: 0.01
Variable: year                 Importance: 0.0
Variable: week                 Importance: 0.0

# Model with the 2 most important feature

In [ ]:

# New random forest with only the two most important variables
rf_most_important = RandomForestRegressor(n_estimators= 100, max_depth = 2, max_features='auto')

# Extract the two most important features
important_indices = [original_feature_list.index('temp_1'), original_feature_list.index('average')]
train_important = original_train_features[:, important_indices]
test_important = original_test_features[:, important_indices]

# Train the random forest
rf_most_important.fit(train_important, original_train_labels)

# Make predictions and determine the error
predictions = rf_most_important.predict(test_important)

errors = abs(predictions - original_test_labels)

# Display the performance metrics
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

r2_score(predictions, original_test_labels)

Mean Absolute Error: 3.93 degrees.

0.7184537946087157

# XG Boost

In [ ]:
x_train = original_train_features
y_train = original_train_labels
x_test = original_test_features
y_test = original_test_labels
x_train

array([[2016. ,    9. ,   19. , ...,   68. ,   69. ,   69.7],
       [2016. ,    4. ,   14. , ...,   60. ,   59. ,   58.1],
       [2016. ,    7. ,   30. , ...,   85. ,   88. ,   77.3],
       ...,
       [2016. ,    4. ,   19. , ...,   77. ,   89. ,   59. ],
       [2016. ,   10. ,   14. , ...,   66. ,   60. ,   60.2],
       [2016. ,    4. ,   15. , ...,   59. ,   59. ,   58.3]])

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import xgboost as xgb
from sklearn.model_selection import cross_val_score
import numpy as np
for lr in [0.01,0.02,0.03,0.04,0.05,0.06,0.07,0.08,0.09,0.1,0.11,0.12,0.13,0.14,0.15,0.2,0.5,0.7,1]:
  model = xgb.XGBRegressor(learning_rate = lr, n_estimators=100, verbosity = 0) # initialise the model
  model.fit(x_train,y_train) #train the model
  model.score(x_test, y_test) # scoring the model - r2 squared
  print("Learning rate : ", lr, " Train score : ", model.score(x_train,y_train), " Cross-Val score : ", np.mean(cross_val_score(model, x_train, y_train, cv=10)))

Learning rate :  0.01  Train score :  -3.0966307094653214  Cross-Val score :  -3.569700426074859
Learning rate :  0.02  Train score :  0.33131544261880264  Cross-Val score :  0.2339338272968227
Learning rate :  0.03  Train score :  0.8202636422492008  Cross-Val score :  0.7389207908481328
Learning rate :  0.04  Train score :  0.8988320111357805  Cross-Val score :  0.7988688480953361
Learning rate :  0.05  Train score :  0.9176092305406434  Cross-Val score :  0.8030686887502352
Learning rate :  0.06  Train score :  0.9286979825316222  Cross-Val score :  0.8026866270112942
Learning rate :  0.07  Train score :  0.9359761100742214  Cross-Val score :  0.8026835140704336
Learning rate :  0.08  Train score :  0.9388993124356395  Cross-Val score :  0.8029014717277073
Learning rate :  0.09  Train score :  0.9448354850844944  Cross-Val score :  0.797530646965525
Learning rate :  0.1  Train score :  0.9513613662409698  Cross-Val score :  0.7973137545903091
Learning rate :  0.11  Train score :  0.94963606511587  Cross-Val score :  0.7964313719566852
Learning rate :  0.12  Train score :  0.9539757371063486  Cross-Val score :  0.7880759244741162
Learning rate :  0.13  Train score :  0.9589192897797719  Cross-Val score :  0.7895478935317866
Learning rate :  0.14  Train score :  0.9614778759930681  Cross-Val score :  0.7852648723722655
Learning rate :  0.15  Train score :  0.9657869946687095  Cross-Val score :  0.7772762048681938
Learning rate :  0.2  Train score :  0.9783846797709735  Cross-Val score :  0.7681320798445964
Learning rate :  0.5  Train score :  0.9974369561968838  Cross-Val score :  0.7467686601016608
Learning rate :  0.7  Train score :  0.9992991001148047  Cross-Val score :  0.6993114475988066
Learning rate :  1  Train score :  0.9998201373276872  Cross-Val score :  0.6422593468244223

In [ ]:
model = xgb.XGBRegressor(learning_rate = 0.05, n_estimators=100)
model.fit(x_train,y_train) #train the model
model.score(x_test, y_test) # scoring the model - r2 squared

[13:52:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

0.8155634432801947